<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">toor</property>
        <property name="hibernate.connection.url">jdbc:mysql://10.196.55.168:3306/biblioteca</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">none</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="modelo/dto/hibernate/Nacionalidades.hbm.xml"/>
        <mapping resource="modelo/dto/hibernate/Libros.hbm.xml"/>
        <mapping resource="modelo/dto/hibernate/Generos.hbm.xml"/>
        <mapping resource="modelo/dto/hibernate/Autores.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
